<!--BootStrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="position-relative">
    <img src="~/image/kvkk-001.jpg" class="img-fluid w-100" style="height: 350px; object-fit: cover; object-position: center;" />
    <h1 class="position-absolute top-50 translate-middle-y fw-bold ms-5 ps-5 text-white" style="font-family: Unbounded; font-size:60px;">Politikalarımız</h1>
</div>

<div class="container mt-1 pb-5">
    <div class="row">
        <div class="col-12">
            <h4 class="fw-bold" style="font-family: Unbounded; color: #003580;">GUCLU AIRLINE Çerez Politikası Aydınlatma Metni</h4>



            <p>
                GUCLU AIRLINE Hava Taşımacılığı A.Ş. (“GUCLU AIRLINE”, “Şirket” ya da “Biz” olarak anılacaktır) olarak, çevrimiçi mecralarımızı ziyaretleriniz sırasında sizlerin deneyiminizi geliştirmek için çerezler, pikseller, gifler gibi bazı teknolojilerden (“Çerezler”) faydalanmaktayız. Bu teknolojilerin kullanımı başta 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) olmak üzere tabi olduğumuz mevzuata uygun şekilde gerçekleştirilmektedir.

                İşbu Aydınlatma metninin (“Aydınlatma Metni”) amacı, tarafımızca işletilmekte olan “gucluairline.com” internet sitesinin (“Site”) ve mobil uygulamanın işletilmesi sırasında Site kullanıcıları/üyeleri/ziyaretçileri (“Veri Sahibi/İlgili Kişi”) tarafından Çerezlerin kullanımı sırasında elde edilen kişisel verilerin işlenmesine ilişkin olarak sizlere bilgi vermektir. İşbu metinde Sitemizde hangi amaçlarla hangi tür Çerezleri kullandığımızı ve bu Çerezleri nasıl kontrol edebileceğinizi sizlere açıklamak istiyoruz.

                GUCLU AIRLINE olarak Sitemizde kullandığımız Çerezleri kullanmaktan vazgeçebilir, bunların türlerini veya fonksiyonlarını değiştirebilir veya Sitemize yeni Çerezler ekleyebiliriz. Dolayısıyla iş bu Aydınlatma Metni’nin hükümlerini dilediğimiz zaman değiştirme hakkını saklı tutarız. Güncel Aydınlatma Metni üzerinde gerçekleştirilmiş olan her türlü değişiklik Sitede veya herhangi bir kamuya açık mecrada yayınlanmakla birlikte yürürlük kazanacaktır. Son güncelleme tarihini metnin başında bulabilirsiniz.

                Kişisel verilerinizin Şirket tarafından işlenme amaçları hakkında daha detaylı bilgi için GUCLU AIRLINE - Gizlilik Bildirimi adresinde yer alan GUCLU AIRLINE Kişisel Verilerin Korunması ve İşlenmesi Politikası’nı okumanızı tavsiye ederiz.
            </p>

            <h4 style="color: #003580;">Çerez (Tanımlama Bilgileri) Nedir?</h4>
            <p>Tanımlama bilgileri, tarayıcınız aracılığıyla bir web sunucusu tarafından bilgisayarınıza yüklenen küçük veri dosyalarıdır. Web siteleri, tanımlama bilgilerini tarayıcınız ile sunucu arasında bağlantı kurulduğunda sizi tanımak için kullanır. Tanımlama bilgileri, bir web sitesinin ziyaretçileri tarafından daha kolay kullanılabilmesi için tasarlanır.</p>

            <h4 style="color: #003580;">Çerezler Hangi Amaçlarla Kullanılmaktadır?</h4>
            <p>
                GUCLU AIRLINE olarak Sitemizde ve mobil uygulamamızda çeşitli amaçlarla Çerezler kullanmakta ve bu Çerezler vasıtasıyla kişisel verilerinizi işlemekteyiz. Bu amaçlar başlıca şunlardır:
            <ul>
                <li><strong>Site’nin çalışması için gerekli temel fonksiyonları gerçekleştirmek:</strong> Örneğin, oturum açan üyelerin Site’de farklı sayfaları ziyaret ederken tekrar şifre girmelerine gerek kalmaması.</li>
                <li><strong>Site’nin işlevselliğini arttırmak ve kullanım kolaylığı sağlamak:</strong> Örneğin, Site üzerinden üçüncü taraf sosyal medya mecralarına paylaşımda bulunmak, Site’yi ziyaret eden ziyaretçinin daha sonraki ziyaretinde kullanıcı adı bilgisinin ya da arama sorgularının hatırlanması.</li>
            </ul>
            </p>
            <h4 style="color: #003580;">Kişisel Verilerin Toplama Yöntemi ve Hukuki Sebebi Nedir?</h4>
            <p>Kişisel verileriniz, Sitemizi ziyaretiniz kapsamında veya uygulamamızı kullanmanız dolayısıyla Çerezler vasıtasıyla elde edilmektedir. İşbu Aydınlatma Metni ve GUCLU AIRLINE Kişisel Verilerin Korunması ve İşlenmesi Politikası’nda belirtilen amaçlar doğrultusunda, Kanun’un 5. maddesinin ikinci fıkrasındaki kanuni veri işleme şartlarından Şirket’in meşru menfaatleri için veri işlemenin zorunlu olması, Şirket’in hukuki yükümlülüklerini yerine getirebilmesi için veri işlemenin zorunlu olması ve bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması şartlarından birinin varlığı halinde kişisel verileriniz rızanız olmaksızın işlenebilecektir. Aksi hallerde kişisel verileriniz yalnızca açık rızanızın bulunduğu hallerde işlenecektir.</p>

            <h4 style="color: #003580;">Kişisel Verilerinizi Kimlere ve Hangi Amaçlarla Aktarabiliriz?</h4>
            <p>GUCLU AIRLINE olarak, Aydınlatma metni kapsamındaki kişisel verilerinizi GUCLU AIRLINE Kişisel Verilerin Korunması ve İşlenmesi Politikası’nda belirtilen ve yukarıda yer alan amaçların gerçekleştirilebilmesi ile sınırlı olarak ve mevzuata uygun şekilde Şirketimizin hizmetlerinden faydalandığı üçüncü kişilerle, bağlı ortaklıklarımızla, iş ortaklarımızla ve grup şirketlerimiz ile paylaşabiliriz. Verilerin aktarıldığı tarafların kişisel verilerinizi dünyanın her yerindeki sunucularında saklayabileceğini belirtmek isteriz.</p>

            <h4 style="color: #003580;">Hangi Çerezleri Kullanıyoruz?</h4>
            <p>Aşağıda Sitemizde kullandığımız farklı türdeki Çerezleri bulabilirsiniz. Sitemizde hem birinci parti Çerezler (ziyaret ettiğiniz Site tarafından yerleştirilen) hem de üçüncü parti çerezleri (ziyaret ettiğiniz Site haricindeki sunucular tarafından yerleştirilen) kullanılmaktadır. Mobil uygulamada ise çerez yerine, Google ve Criteo SDK’sı (Software Development Kit) kullanılmaktadır.</p>



        </div>
    </div>
</div>