html {
  position: relative;
  min-height: 100%;
  background-color: #ffffff;
}

body {
  margin-bottom: 60px;
  background-color: #ffffff;
}

main {
  background-color: #ffffff;
}

.container {
  background-color: #ffffff;
} 